/* .sign-in-container .sign-in-contents{
    padding: 10%;
} */

.sign-in-container {
    border-style: solid;
    border-radius: 5px;
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-in-container .form-input-field {
    margin: 1rem;
    width: 250px;
}